/* TODO: custom greenish selection color */
/* nvm we just disable the selection all together sfkldj */

:root, body {
	background-color: #1d2021;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.right {
	padding: 0 13px;
}

.header {
	padding: 30px 0 0 0;
}

img.me {
	border-radius: 50%;
	margin: auto;
	display: block;
}

.nick {
	font-family: monospace;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	font-weight: 200;
}

.my-name {
	font-family: sans-serif;
	text-align: center;
	font-size: 26px;
	margin-top: 9px;
	font-weight: 300;
}


.links {
	list-style-type: none;
/*	padding-top: 35px;*/
	padding: 35vh 0;
}

a.link {
	margin-bottom: 9px;
	text-decoration: none;
	padding: 6px;
	padding-right: 9px;
	border-radius: 12px;
	background: linear-gradient(to right, hsla(160deg, 6%, 40%, 0.2), hsl(160deg, 6%, 40%, 0) 80%);
	transition: 200ms;
	color: #EFD789;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.link:hover{
	background-color: hsla(160deg, 6%, 40%, 0.2);
}

.link:focus{
	background-color: hsla(160deg, 6%, 40%, 0.7);
}

img.icon {
	background-color: #EFD789;
	margin-right: 12px;
	border-radius: 6px;
}

.username {
	margin-left: auto;
	color: hsla(150deg, 36%, 70%, 0.5);
}



@media only screen and (min-width: 600px) {
	.flow {
		display: flex;
	}
	.main {
		position: sticky;
		top: 0px;
	}
	.left {
		flex: 1;
	}
	.header {
		position: sticky;
		top: 0;
	}
	.right {
		flex: 1;
	}
	.pb {
	--box-size: 50vw !important;
	}
	.circle {
		top: calc(var(--box-size) - 60px) !important;
	}
	.circle.dragged {
		top: var(--y) !important;
	}
	.circle.justrel {
		scale: 1.1 !important;
	}

	.header {
		top: 50%;
		transform: translateY(-50%);
		padding-top: 0;
/*		pointer-events: none;*/
	}
}

.me {
	user-drag: none;
	user-select: none;
    -webkit-user-drag: none;
}

.pb {
	z-index: 3;
	pointer-events: none;
/*	border: 2px solid red;*/
}

.flow {
	position: relative;
	z-index: 4;
}

.link{
/*	backdrop-filter: blur(3px);*/
}

* {
	user-select: none;
}

.main {
	min-height: 100vh;
}
